<div class="row">
    {% block about %}
        <div class="about">
            <h2>About the author:</h2>
            <a href="/" class="link">
                <img class="avatar" src="https://pbs.twimg.com/profile_images/446924259328131072/tCLuF8mt.jpeg">
                <span class="name">Tom32i</span>
            </a>
        </div>
    {% endblock %}
    {% block more %}
    {% endblock %}
</div>
