{% extends 'blog/layout.html.twig' %}

{% set title       = parameters.blog.meta.title %}
{% set description = parameters.blog.meta.description %}

{% block content %}
    <hr class="icon-pen">

    {% for article in articles %}
        {{ include('content/article/preview.html.twig') }}
    {% endfor %}

    {% embed 'block/pagination.html.twig' %}
        {% set route = 'blog' %}
    {% endembed %}
{% endblock %}

{% block footer %}
    <h1>THOMAS JARRAND'S TECH BLOG</h1>
    {{ include('blog/footer.html.twig') }}
{% endblock %}
