{% extends 'layout.html.twig' %}

{% block body_class 'blog' %}

{% block content %}
    <hr class="icon-pen">

    {% for article in articles %}
        {{ include('content/article/preview.html.twig') }}
    {% endfor %}

    {% embed 'block/pagination.html.twig' %}
        {% set route = 'blog' %}
    {% endembed %}
{% endblock %}

{% block footer %}
    <h1>THANK YOU FOR READING!</h1>

    {% embed 'blog/footer.html.twig' %}
        {% block more %}
            <div class="more">

            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}
