.projects {
    .project {
        .content {
            .title {
                margin-bottom: 0;
                color: $grey;
                padding: 0;
                line-height: 1em;

                a, a:visited, a:active, a:hover {
                    color: $grey;
                    text-decoration: none;
                }
            }

            .side {
                line-height: 2em;

                &, a, a:visited, a:active, a:hover {
                    color: $grey-light;
                }

                &[class^="icon-"]:before, &[class*=" icon-"]:before {
                    margin-right: 0;
                    display: inline;
                }

                &[class^="icon-"]:hover:before, &[class*=" icon-"]:hover:before {
                    text-decoration: none;
                }
            }
        }
    }
}
