{% import 'block/date.html.twig' as date %}

{% set url = path('article', {'article': article.slug}) %}

{% block preview %}
<article class="article preview">
    <header class="header">
        {{ date.ago(article.date) }}
        <a href="{{ path('article', {article: article.slug}) }}">
            <h1 class="title">
                {{ article.title }}
            </h1>
        </a>
    </header>
    <div class="content">
        <p class="description">{{ article.description }}</p>
    </div>
</article>
{% endblock %}
